
.container{
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows:100px 100px 100px ;
    grid-template-areas:
        div1 div2 div3
        div4 div5 div6
        div7 div8 div9 ;
        gap: 20px;
}
div{
    text-align: center;
    align-content: center;
}
.div1{
    background-color: aqua;
}
.div2{
    background-color: blue;
}
.div3{
    background-color: burlywood;
}
.div4{
    background-color: chocolate;
    
}
.div5{
    background-color: rgb(41, 168, 19);
    align-content: center;
}
.div6{
    background-color: rgb(236, 164, 19);
}
.div7{
    background-color: rgb(40, 22, 70);
}
.div8{
    background-color:turquoise;
}
.div9{
    background-color: rgb(225, 37, 156);
}